@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    opacity: .9;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navgtion a {
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 400;
    padding-left: 30px;
}

.navgtion a:hover {
    color: #601cfc;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(images/logo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.main h2 {
    color: #f0f0f0;
    font-size: 1.4em;
    font-weight: 600;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #0b8ee8;
    font-size: 3em;
    font-weight: 600;
    text-transform: capitalize;
}

.main h3 {
    color: #f0f0f0;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 10px 0 30px 0;
}

.main .main_btn {
    text-decoration: none;
    color: #f0f0f0;
    background-color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 600;
    padding: .9375em 2.1875em;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #f0f0f0;
    transition: .7s ease;
}

.main .main_btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social_icons a {
    color: #f0f0f0;
    font-size: 1.7em;
    padding-right: 20px;

}

.title {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #f0f0f0;
    width: 21.25em;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: .7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #3a6cf4;
    font-size: 5em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.cards .content .card .title {
    color: #3a6cf4;
    font-size: 2em;
    text-align: center;
}

.footer {
    background-color: #111;
    color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.footer .footer_title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer .footer_title span {
    color: #3a6cf4;
}

@media (max-width:1023px) {
    header {
        padding: 8px 8px;
    }

    .navigation a {
        padding-left: 5px;
    }

    .title {
        font-size: 1.3em;
    }

    section {
        padding: 50px 15px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.3em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px) {
    body {
        font-size: 8px;
    }

    .main-content h2 {
        font-size: 0.5em;
    }

    .main-content h3 {
        font-size: 1.1em;
    }
}

@media (max-width:300px) {
    body {
        font-size: 8px;

    }
}
